.second-navbar-container {
	background-color: black;
	height: 4.5rem;
}

.second-navbar {
	color: white;
	margin: auto;
	width: 80vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
