.productPage-specs {
	margin-top: 6rem;
	display: flex;
	flex-flow: column wrap;
	max-height: 80vh;
	margin-bottom: 10rem;
}
.productPage-specs > div {
	width: 50%;
	display: flex;
	justify-content: center;
}
