.product {
	width: 20rem;
	height: 37rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.product-image {
	width: 15rem;
	height: 15rem;
	user-select: none;
}

.product-title {
	text-overflow: ellipsis;
	text-align: center;
	height: 7rem;
	font-size: 1.2rem;
	overflow: hidden;
	margin: 0 .4rem;
	margin-top: 2rem;
	width: 90%;
	color: rgb(89, 88, 87);
}

.product-price {
	font-size: 2.4rem;
	color: black;
	font-weight: bold;
	height: 2rem;
	margin-bottom: 1rem;
}

.product sup {
	font-size: 1.5rem;
}
.product-oldPrice {
	font-size: 1.4rem;
	height: 2rem;
	color: grey;
	text-decoration: line-through;
}
.product-oldPrice > sup {
	display: inline-block;
	font-size: 1rem;
	text-decoration: none;
}
.buy-button {
	user-select: none;

	cursor: pointer;
	margin-top: 1.8rem;
	margin-bottom: 1rem;
	height: 3.8rem;
	width: 80%;
	border: none;
	outline: none;
	background-color: var(--primary-color);
	border-radius: .8rem;
	color: #f8f8ff;
}

.buy-button:hover {
	background-color: #fe7f01;
}

.product-compare {
	user-select: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.product-compare-icon {
	width: 1rem;
}

.product-compare-text {
	font-size: 1.3rem;
	margin-left: .4rem;
}

.product-compare:hover .product-compare-icon {
	fill: var(--primary-color);
}

.product-compare:hover .product-compare-text {
	color: var(--primary-color);
}

.product-whishlist {
	cursor: pointer;
	display: flex;
	align-items: center;
	user-select: none;
}

.product-wishlist-icon {
	width: 1rem;
}

.product-wishlist-text {
	margin-left: .4rem;
	font-size: 1.3rem;
}

.product-whishlist:hover .product-wishlist-icon {
	fill: var(--primary-color);
}

.product-whishlist:hover .product-wishlist-text {
	color: var(--primary-color);
}

.product .flex-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.discount {
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ff3333;
	width: 5rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 1rem;
}
