.dropdown {
	position: relative;
}

.dropdown-button {
	color: #f5f5f5;
	cursor: pointer;
	outline: none;
	background-color: var(--primary-color);
	height: 4.5rem;
	width: 9rem;
	border: none;
	font-size: 2rem;
}

.categories-list {
	height: 50vh;
	border: .1rem solid rgba(0, 0, 0, .5);
	border-top: none;
	width: 10vw;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
}

.categories-list li {
	flex: 1;
	cursor: pointer;
	border-bottom: .1rem solid rgba(0, 0, 0, .5);
	font-size: calc(1.2rem + .5vw);
}

.categories-list a {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	text-align: center;
	height: 100%;
}
.categories-list li:nth-last-child(1) {
	border-bottom: none;
}

.dropdown ul li:hover {
	background-color: var(--primary-color);
}
.dropdown:hover .dropdown-content {
	display: flex !important;
}
.dropdown-content {
	top: 4.5rem;
	position: absolute;
	display: none;
}

.dropdown-link {
	color: rgb(89, 88, 87);
	text-decoration: none;
}
