.compare-item {
	width: 4rem;
	height: 4rem;
	border: 1px solid lightgray;
	position: relative;
}

.compare-item img {
	max-width: 100%;
}

.delete-compare-item-btn {
	cursor: pointer;
	user-select: none;
	border: none;
	background-color: red;
	display: flex;
	justify-content: center;
	position: absolute;
	top: -.5rem;
	right: -.5rem;
	border-radius: 50%;
	height: 40%;
	width: 40%;
	line-height: 40%;
	padding-bottom: .2rem;
}
