.cart-button {
	cursor: pointer;
	background: transparent;
	border: .2rem solid var(--primary-color);
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	width: 7rem;
	height: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-icon {
	width: 2.5rem;
	fill: var(--primary-color);
}

.cart-price {
	font-size: 1.2rem;
	color: white;
	white-space: nowrap;
}
.cart {
}
